manifest {
    name        = 'teapot'
    description = 'Targeted Evaluation & Analysis Pipeline for Proteomics on Tandem MS'
    mainScript  = 'main.nf'
    nextflowVersion = '>=23.04.0'
    version     = '0.1.0'
}

params {
    input  = null
    fasta  = null

    dlib          = null
    blib          = null
    elib          = null
    library_sheet = null
    use_koina     = false
    koina_models = 'Prosit_2020_HCD;IM2Deep_CCS;Prosit_2019_iRT'
    koina_url    = 'https://koina.wilhelmlab.org:443/'

    fdr = 0.01

    gpf_search_args = ''
    dia_search_args = ''
    libexport_args  = ''

    encyclopedia_jar = '/opt/encyclopedia/encyclopedia.jar'
    java_mem         = '8g'

    peakpicking  = '--filter "peakPicking vendor msLevel=1-"'
    otherfilters = ''

    outdir       = 'results'
    publish_mode = 'copy'

    cluster_options = ''
}

apptainer {
    autoMounts   = true
    enabled      = false
    envWhitelist = ['USER']
    pullTimeout  = '60m'
}

includeConfig 'conf/base.config'

workDir = "${params.outdir}/pipeline_info/work"

report {
    enabled   = true
    overwrite = true
    file      = "${params.outdir}/pipeline_info/report.html"
}
trace {
    enabled   = true
    overwrite = true
    file      = "${params.outdir}/pipeline_info/trace.txt"
}
dag {
    enabled   = true
    overwrite = true
    file      = "${params.outdir}/pipeline_info/dag.html"
}
timeline {
    enabled   = true
    overwrite = true
    file      = "${params.outdir}/pipeline_info/timeline.html"
}

profiles {
    standard {
        process.executor = 'local'
    }
    docker {
        docker.enabled = true
        process.container = 'mauraisa/encyclopedia:latest'
    }
    apptainer {
        apptainer.enabled = true
        process.container = 'mauraisa/encyclopedia:latest'
    }
    hpc {
        // Tetralith (NSC) SLURM
        process.executor             = 'slurm'
        process.clusterOptions       = { "${params.cluster_options}".trim() }
        executor.perCpuMemAllocation = true
        apptainer.enabled            = true
    }
    test {
        params.input = "${projectDir}/assets/samplesheet.example.csv"
    }
}

process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':').last().toLowerCase()}" },
        mode: params.publish_mode,
        saveAs: { fn -> fn.equals('versions.yml') ? null : fn }
    ]
}
