process {
    cpus = 2
    time = 4.h

    errorStrategy = { task.exitStatus in [137, 139, 143] ? 'retry' : 'terminate' }
    maxRetries    = 1

    clusterOptions = { "${params.cluster_options} --mem 16G" }

    withName: 'HARMONIZE_RT|HARMONIZE_RT_TARGET|HARMONIZE_RT_BACKGROUND' {
        cpus           = 4
        clusterOptions = { "${params.cluster_options} --mem 96G" }
        time           = '6h'
    }
    withName: MERGE_LIBRARIES {
        cpus           = 4
        clusterOptions = { "${params.cluster_options} --mem 96G" }
        time           = '6h'
    }
    withName: 'ASSERT_RT_COHERENT|ASSERT_BACKGROUND_ADEQUATE' {
        cpus           = 2
        clusterOptions = { "${params.cluster_options} --mem 48G" }
        time           = '2h'
    }
    withName: DERIVE_IRT_FROM_REFERENCE_LIST {
        cpus           = 2
        clusterOptions = { "${params.cluster_options} --mem 32G" }
        time           = '2h'
    }
    withName: 'EMIT_IRT_LIBRARY|ADD_DECOYS_TO_REFERENCE_LIST' {
        cpus           = 2
        clusterOptions = { "${params.cluster_options} --mem 16G" }
        time           = '1h'
    }
    withName: ASSERT_OPENSWATH_FEASIBLE {
        cpus           = 1
        clusterOptions = { "${params.cluster_options} --mem 8G" }
        time           = '1h'
    }
    withName: ASSERT_SEARCH_PRODUCTIVE {
        cpus           = 1
        clusterOptions = { "${params.cluster_options} --mem 8G" }
        time           = '20m'
    }
    withName: KOINA_PREDICT {
        cpus           = 2
        clusterOptions = { "${params.cluster_options} --mem 16G" }
        time           = '2h'
    }
    withName: ENCYCLOPEDIA_LIBEXPORT {
        cpus           = 4
        clusterOptions = { "${params.cluster_options} --mem 32G" }
        time           = '4h'
    }
    withName: MERGE_GPF {
        cpus           = 2
        clusterOptions = { "${params.cluster_options} --mem 16G" }
        time           = '2h'
    }
    withName: SEARCH_GPF {
        cpus           = 32
        clusterOptions = { "${params.cluster_options} --mem 64G" }
        time           = '8h'
    }
    withName: SEARCH_DIA {
        cpus           = 8
        clusterOptions = { "${params.cluster_options} --mem 32G" }
        time           = '8h'
    }
    withName: CONTEXT_SEARCH {
        cpus           = 8
        clusterOptions = { "${params.cluster_options} --mem 32G" }
        time           = '4h'
    }
    withName: BLIB_TO_DLIB {
        cpus           = 2
        clusterOptions = { "${params.cluster_options} --mem 8G" }
        time           = '1h'
    }
    withName: BLIB_TO_REFERENCE_LIST {
        cpus           = 1
        clusterOptions = { "${params.cluster_options} --mem 4G" }
        time           = '30m'
    }
    withName: MSCONVERT {
        cpus           = 2
        clusterOptions = { "${params.cluster_options} --mem 16G" }
        time           = '2h'
    }
    withName: DLIB_TO_OPENSWATH_TSV {
        cpus           = 2
        clusterOptions = { "${params.cluster_options} --mem 8G" }
        time           = '1h'
    }
    withName: OPENSWATH_ASSAY_GENERATOR {
        cpus           = 2
        clusterOptions = { "${params.cluster_options} --mem 8G" }
        time           = '1h'
    }
    withName: OPENSWATH_DECOY_GENERATOR {
        cpus           = 2
        clusterOptions = { "${params.cluster_options} --mem 8G" }
        time           = '1h'
    }
    withName: OPENSWATH_WORKFLOW {
        cpus           = 8
        clusterOptions = { "${params.cluster_options} --mem 32G" }
        time           = '8h'
    }
    withName: SPLIT_OPENSWATH_FEATURES {
        cpus           = 2
        clusterOptions = { "${params.cluster_options} --mem 8G" }
        time           = '1h'
    }
    withName: CONTEXT_MS_RUN {
        cpus           = 4
        clusterOptions = { "${params.cluster_options} --mem 16G" }
        time           = '2h'
    }
    withName: COMPLETE_CHANNELS {
        cpus           = 2
        clusterOptions = { "${params.cluster_options} --mem 8G" }
        time           = '1h'
    }
    withName: PYPROPHET_SUBSAMPLE {
        cpus           = 2
        clusterOptions = { "${params.cluster_options} --mem 8G" }
        time           = '1h'
    }
    withName: PYPROPHET_MERGE {
        cpus           = 2
        clusterOptions = { "${params.cluster_options} --mem 16G" }
        time           = '1h'
    }
    withName: PYPROPHET_LEARN {
        cpus           = 8
        clusterOptions = { "${params.cluster_options} --mem 32G" }
        time           = '4h'
    }
    withName: PYPROPHET_APPLY {
        cpus           = 4
        clusterOptions = { "${params.cluster_options} --mem 16G" }
        time           = '2h'
    }
    withName: PYPROPHET_EXPORT {
        cpus           = 2
        clusterOptions = { "${params.cluster_options} --mem 8G" }
        time           = '1h'
    }
    withName: QUANTIFY_HEAVY_LIGHT {
        cpus           = 2
        clusterOptions = { "${params.cluster_options} --mem 8G" }
        time           = '1h'
    }
    withName: TRIC_FEATURE_ALIGNMENT {
        cpus           = 4
        clusterOptions = { "${params.cluster_options} --mem 16G" }
        time           = '2h'
    }
    withName: DIATHEM_QUANT {
        cpus           = 8
        clusterOptions = { "${params.cluster_options} --mem 32G" }
        time           = '4h'
    }
    withName: MERGE_QUANT_OPENSWATH_PRM {
        cpus           = 2
        clusterOptions = { "${params.cluster_options} --mem 8G" }
        time           = '1h'
    }
    withName: MERGE_QUANT_OPENSWATH_DIA {
        cpus           = 2
        clusterOptions = { "${params.cluster_options} --mem 8G" }
        time           = '1h'
    }
    withName: MERGE_QUANT_ENCYCLOPEDIA_DIA {
        cpus           = 2
        clusterOptions = { "${params.cluster_options} --mem 8G" }
        time           = '1h'
    }
    withName: MERGE_QUANT_ENCYCLOPEDIA_PRM {
        cpus           = 2
        clusterOptions = { "${params.cluster_options} --mem 8G" }
        time           = '1h'
    }
    withName: ASSERT_QUANT_PRODUCTIVE {
        cpus           = 1
        clusterOptions = { "${params.cluster_options} --mem 4G" }
        time           = '20m'
    }
    withName: ENCYCLOPEDIA_LIBEXPORT_PER_SAMPLE {
        cpus           = 4
        clusterOptions = { "${params.cluster_options} --mem 32G" }
        time           = '4h'
    }
    withName: FINALIZE_QUANT {
        cpus           = 2
        clusterOptions = { "${params.cluster_options} --mem 16G" }
        time           = '1h'
    }
    withName: EXTRACT_OPENSWATH_INTENSITY {
        cpus           = 2
        clusterOptions = { "${params.cluster_options} --mem 8G" }
        time           = '1h'
    }
    withName: AUGMENT_CONTEXT_FEATURES {
        cpus           = 2
        clusterOptions = { "${params.cluster_options} --mem 8G" }
        time           = '1h'
    }
}
