process {
    cpus = 2
    time = 4.h

    errorStrategy = { task.exitStatus in [137, 139, 143] ? 'retry' : 'terminate' }
    maxRetries    = 1

    withName: KOINA_PREDICT {
        cpus           = 2
        clusterOptions = { "${params.cluster_options} --mem 16G" }
        time           = '2h'
    }
    withName: BUILD_CHRLIB {
        cpus           = 4
        clusterOptions = { "${params.cluster_options} --mem 32G" }
        time           = '4h'
    }
    withName: MERGE_GPF {
        cpus           = 2
        clusterOptions = { "${params.cluster_options} --mem 16G" }
        time           = '2h'
    }
    withName: SEARCH_GPF {
        cpus           = 32
        clusterOptions = { "${params.cluster_options} --mem 64G" }
        time           = '8h'
    }
    withName: SEARCH_DIA {
        cpus           = 8
        clusterOptions = { "${params.cluster_options} --mem 32G" }
        time           = '8h'
    }
    withName: CONTEXT_SEARCH {
        cpus           = 8
        clusterOptions = { "${params.cluster_options} --mem 32G" }
        time           = '4h'
    }
    withName: BLIB_TO_DLIB {
        cpus           = 2
        clusterOptions = { "${params.cluster_options} --mem 8G" }
        time           = '1h'
    }
    withName: MSCONVERT {
        cpus           = 2
        clusterOptions = { "${params.cluster_options} --mem 16G" }
        time           = '2h'
    }
}
