params {
    cluster_options = '-A <your-slurm-account>'

    container_cache_dir = "${projectDir}/apptainer_cache"
    container_tmp_dir   = "${projectDir}/apptainer_tmp"
}

process {
    clusterOptions = { "${params.cluster_options} --mem 16G" }

    withName: CONTEXT_SEARCH {
        cpus           = 16
        clusterOptions = { "${params.cluster_options} --mem 96G" }
        time           = '16h'
    }
    withName: ENCYCLOPEDIA_LIBEXPORT {
        cpus           = 8
        clusterOptions = { "${params.cluster_options} --mem 64G" }
        time           = '8h'
    }
    withName: KOINA_PREDICT {
        cpus           = 4
        clusterOptions = { "${params.cluster_options} --mem 48G" }
        time           = '12h'
    }
    withName: OPENSWATH_WORKFLOW {
        cpus           = 16
        clusterOptions = { "${params.cluster_options} --mem 128G" }
        time           = '16h'
    }
    withName: OPENSWATH_ASSAY_GENERATOR {
        cpus           = 8
        clusterOptions = { "${params.cluster_options} --mem 96G" }
        time           = '6h'
    }
    withName: OPENSWATH_DECOY_GENERATOR {
        cpus           = 8
        clusterOptions = { "${params.cluster_options} --mem 64G" }
        time           = '4h'
    }
    withName: MERGE_LIBRARIES {
        cpus           = 4
        clusterOptions = { "${params.cluster_options} --mem 96G" }
        time           = '6h'
    }
    withName: DLIB_TO_OPENSWATH_TSV {
        cpus           = 4
        clusterOptions = { "${params.cluster_options} --mem 96G" }
        time           = '6h'
    }
    withName: ASSERT_RT_COHERENT {
        cpus           = 2
        clusterOptions = { "${params.cluster_options} --mem 48G" }
        time           = '2h'
    }
    withName: COMPLETE_CHANNELS {
        cpus           = 2
        clusterOptions = { "${params.cluster_options} --mem 32G" }
        time           = '2h'
    }
    withName: DERIVE_IRT_FROM_REFERENCE_LIST {
        cpus           = 2
        clusterOptions = { "${params.cluster_options} --mem 32G" }
        time           = '2h'
    }
    withName: BLIB_TO_DLIB {
        cpus           = 2
        clusterOptions = { "${params.cluster_options} --mem 32G" }
        time           = '2h'
    }

    withName: SPLIT_OPENSWATH_FEATURES {
        cpus           = 4
        clusterOptions = { "${params.cluster_options} --mem 48G" }
        time           = '3h'
    }
    withName: CONTEXT_MS_RUN {
        cpus           = 8
        clusterOptions = { "${params.cluster_options} --mem 48G" }
        time           = '4h'
    }
    withName: EXTRACT_OPENSWATH_INTENSITY {
        cpus           = 2
        clusterOptions = { "${params.cluster_options} --mem 32G" }
        time           = '2h'
    }
    withName: 'MERGE_QUANT_OPENSWATH_PRM|MERGE_QUANT_ENCYCLOPEDIA_PRM|MERGE_QUANT_OPENSWATH_DIA|MERGE_QUANT_ENCYCLOPEDIA_DIA|QUANTIFY_HEAVY_LIGHT' {
        cpus           = 2
        clusterOptions = { "${params.cluster_options} --mem 32G" }
        time           = '2h'
    }

}
